<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static "styleHistorico.css" %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static "bridge.png" %}" type='image/png' />
    <title>Desafio Bridge</title>
</head>
<body>
    <div class='headerContainer'> 
        <div class='icon'>
            <img src="{% static 'bridge2.svg' %}" alt="My image">
        </div>
        <div class='options'>
           <form action='/'>
                <input value='Home' type='submit' id='homeB'>
                </input>
            </form>
            <form action=''>
                <input value='Histórico' type='submit' id='histB'>
                </input>
            </form>  
        </div>
    </div>
    <div class='contentContainer'>
        <div class='textContent'> 
            <p>Histórico de entradas<span style="color:#0099FF">_</span> </p>    
        </div>
        <table class='tables'>
            <tr>
                <th>Menor número:</th>
                <th>Maior número:</th>
                <th>Primos entre eles:</th>
            </tr>        
            {% for n in allNumbers %}
                <tr>
                    <td> {{n.n1}} </td>
                    <td> {{n.n2}} </td>
                    <td> {{n.primos}} </td>
                </tr>
            {% endfor %}
        </table>
        
        
        </div>
        <div class='form'>
        </div>  
    <div class='bottomContainer'>
        <div class='logo'> 
            <p>b<span style="color:#0099FF">_</span></p>
        </div>
    </div> 
    </div> 
</body>
</html>
